html {
  overflow: hidden;
  touch-action: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  touch-action: none;
}

#scratchCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: inherit;
  width: 100%;
  height: 100%;
}

#revealImage {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#frontImage {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
